body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Cardo", serif;
  letter-spacing: 0.1rem;
  background-color: #fafafa;
}
.portada {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  overflow: hidden;
}

.flower img {
  height: 200px;
}

.green {
  color: #afaf8b;
}
.italic {
  font-style: italic;
}
.upside {
  transform: scale(-1, -1);
}

.title-bottom {
  margin-top: 72px;
}

.title {
  color: #3c3c3b;
  font-family: "Cardo", serif;
  font-size: 24px;
}

.tit-date {
  font-style: italic;
  letter-spacing: 0.4rem;
}

.tit-text {
  letter-spacing: 0.4rem;
}

.tit-names {
  color: #afaf8b;
  font-family: "Ms Madi", cursive;
  font-size: 60px;
  margin: 0;
  font-weight: 300;
}
.location {
  padding: 24px;
  font-size: 24px;
}

.location img {
  width: 100px;
}

.cursive {
  font-family: "Ms Madi", cursive;
  font-weight: 300;
  font-size: 48px;
}

.divider {
  background-color: #afaf8b;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Cardo", serif;
  font-size: 24px;
  padding: 24px;
  text-align: center;
  font-style: italic;
  flex-direction: column;
}

.bancarios {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Cardo", serif;
  font-size: 24px;
  padding: 48px 24px;
  text-align: center;
  font-style: italic;
  flex-direction: column;
  position: relative;
}

.bancarios img {
  position: absolute;
  top: 0;
  left: -35px;
  height: 200px;
}

.seccion-contador {
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.seccion-contador .flower img {
  height: 150px;
}

#contador {
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  padding: 24px;
}
#contador p {
  padding: 24px;
  flex-basis: 10%;
}

.btn {
  display: inline;
  border-radius: 48px;
  font-size: 12px;
  color: #3c3c3b;
  background-color: #fafafa;
  font-weight: 500;
  text-decoration: none;
  padding: 12px 48px;
  font-style: normal;
}

.green-btn {
  color: #fafafa;
  background-color: #afaf8b;
}

@media (max-width: 400px) {
  .title {
    font-size: 16px;
  }
  .tit-names {
    font-size: 48px;
  }
}

@media (min-width: 700px) {
  .portada {
    height: auto;
  }
  .title {
    font-size: 48px;
  }
  .tit-names {
    font-size: 108px;
  }
  .flower img,
  .seccion-contador .flower img {
    width: 100%;
    height: auto;
  }
  .divider,
  .bancarios {
    font-size: 48px;
  }

  .bancarios p {
    width: 60%;
  }

  .bancarios img {
    left: -35px;
    height: 300px;
  }

  .location {
    font-size: 40px;
  }
  .cursive {
    font-size: 60px;
  }
  #contador {
    font-size: 48px;
  }
  .btn {
    border-radius: 48px;
    font-size: 24px;
    padding: 12px 48px;
  }
}
